form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.form-title {
  display: block;
  padding: 40px 0; /*espacamento interno do bloco*/
  font-size: 20px;
}

/*margin: 20px;  /*espacamento externo do bloco*/ /*funciona apenas em blocos*/
