<!DOCTYPE html>
<html>
  <head>
    <title>Página de Inscrição</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/register.css" />
  </head>

  <body>
    <div class="center logo">
      <img src="../img/animais.png" alt="foto de salvar animais" />
    </div>
    <form method="get" action="../index.html">
      <h1>Formulário de inscrição</h1>

      <div class="form-container">
        <h3>Preencha seus dados</h3>

        <div class="form-body">
          <label>
            <span>Nome: </span>
            <input type="text" name="nome" />
          </label>
          <label>
            <span> Email: </span>
            <input type="email" name="email" />
          </label>
          <label>
            <span>Endereço:</span>
            <input type="adress" name="Endereço" />
          </label>
          <label>
            <span>Cidade: </span>
            <input type="city" name="Cidade" />
          </label>
          <label>
            <span>Telefone: </span>
            <input type="phone" name="Telefone" />
          </label>
          <label>
            <span>Usuário: </span>
            <input type="user" name="Usuário" />
          </label>
          <label>
            <span>Senha: </span>
            <input type="password" name="Senha" />
          </label>
          <div class="buttons">
            <button>Concluir cadastro</button>
          </div>
        </div>
      </div>
    </form>
    <footer>
      <img src="../img/LogoIbama.png" alt="logo do ibama" />
    </footer>
  </body>
</html>
